* {
  /* box-sizing: border-box; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  margin : 0;
  padding : 0;
}

:focus {
 /* TODO */
}

body {
  background-image: linear-gradient(to right, yellow, red);
  height : 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

input {
 width: 200px;
 height: 35px;
 border: 0;
 padding: 0 25px;
 border-radius: 4px;
 background-color: rgb(255, 183, 48, 0.4);
}

.search-container {
 position: relative;
 width: 250px;
 height: 30px;
}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {
   /* TODO */
}

ul {
  margin: 0;
  padding: 0;
  max-width: 250px;
  height: 80px;
  overflow-y: auto;
  overflow-x: hidden;
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  list-style-type: none;
  background-color: rgb(255, 183, 48, 0.4);
  width:250px;
  height: 20px;
  margin-left: 0;
}
ul li:hover {
  /* TODO */
}

input {
   /* TODO */
}

input:hover { 
  background-color: rgb(159, 160, 160, 0.35);
}