* {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: cursive;
  text-align: left;
}

html, body {
  margin : 0;
  padding : 0;
}

:focus {
 outline: none;
}

body {
  background-image: linear-gradient(to right, yellow, red);
  height : 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.search-container {
 position: relative;
 width: 250px;
 height: 30px;
}

.search-container .suggestions {
  padding-top: 5px;
}

ul {
  margin: 0;
  padding: 0;
  max-width: 250px;
  max-height: 200px;
  height: 105px;
  overflow-y: auto;
  overflow-x: hidden;
}

ul li {
  list-style-type: none;
  background-color: rgb(255, 183, 48, 0.4);
  width: 250px;
  height: 30px;
  margin-left: 0;
  font-family: cursive;
  
}

ul li:hover {
  background-color: #F04520;
  cursor: pointer;
}

ul::-webkit-scrollbar {
  display: none;
}

input {
  width: 225px;
  height: 35px;
  border-color: black;
  padding: 0 25px 0 0;
  border-radius: 6px;
  background-color: rgb(255, 183, 48, 0.4);
  font-family: cursive;
 }

input:hover { 
  background-color: rgb(159, 160, 160, 0.35);
}